#pane {    
    -fx-background-image:           url("../images/background.jpg");
    -fx-background-size:            stretch;
}
.button, .toggle-button, .text-field, .combo-box {
    -fx-background-color:           #FFFFFF;
    -fx-background-radius:          80px;
    -fx-background-insets:          0;
}
.button, .toggle-button, #labelA, #labelB, #labelC, #labelD {
    -fx-cursor:                     HAND;
    -fx-text-fill:                  #000000;
}
.button:hover, .toggle-button:hover {
    -fx-background-color:           linear-gradient(#FFFFFF, #CCCCCC);
    -fx-effect:               innershadow(three-pass-box, #AAAAAA, 10, 0, 0, 0);
}
.toggle-button:pressed, .button:pressed {
    -fx-background-color:           #BBBBBB;
    -fx-effect:               innershadow(three-pass-box, #666666, 10, 0, 0, 0);
}
.toggle-button:selected {
    -fx-background-color:           #AAAAAA;
    -fx-effect:               innershadow(three-pass-box, #000000, 10, 0, 0, 0);

}.button {
    width:                          200px;
    height:                         60px;
}
.largerButtons {
    width:                          240px;
    height:                         72px;
}
.splashButtons {
    width:                          240px;
    height:                         80px;
}
.cell {
    -fx-background-radius:          80px;
}
.cell:odd {
    -fx-background-color:           #DDDDDD;
}
.cell:odd:hover, .cell:selected {
    -fx-background-color:           #0396C9;
    -fx-text-fill:                  #FFFFFF;    
}
.viewTitle {
    -fx-text-fill:                  #F8A533;
}
#labelA:visited, #labelB:visited, #labelC:visited, #labelD:visited {
    -fx-background-color:           transparent;
    -fx-padding:                    0;
    -fx-cursor:                     hand;
}
.text-field {
    -fx-prompt-text-fill:           derive(-fx-control-inner-background,-30%);
}
.text-field:focused {
    -fx-prompt-text-fill:           derive(-fx-control-inner-background,-30%);
}