#pane{
    -fx-background-image: url("../images/background_2.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 900 650;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}
#buttonA {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}
#buttonB {
    -fx-background-color: #00FF00;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}
#buttonC {
    -fx-background-color: #1E90FF;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}
#buttonD {
    -fx-background-color: #FFD700;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}
