#pane{
    -fx-background-image: url("amstaLogo.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 400 200;
    -fx-background-position: top center;
    -fx-effect: dropshadow(three-pass-box, black, 100, 100, 100, 100); 

}